In [1]:
import pandas as pd
import joblib
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.pipeline import Pipeline
from sklearn.linear_model import LogisticRegression

In [3]:
# 1. Load data
df = pd.read_csv("data/credit_risk_dataset.csv")

In [5]:
df.head()

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income,cb_person_default_on_file,cb_person_cred_hist_length
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59,Y,3
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10,N,2
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57,N,3
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53,N,2
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55,Y,4

In [6]:
# 2. Select features (8 features)
features = [
    "person_age",
    "person_income",
    "person_emp_length",
    "loan_amnt",
    "loan_int_rate",
    "loan_percent_income",
    "cb_person_cred_hist_length",
    "person_home_ownership"
]

X = df[features]
y = df["loan_status"]

# 3. Define feature types
numeric_features = [
    "person_age",
    "person_income",
    "person_emp_length",
    "loan_amnt",
    "loan_int_rate",
    "loan_percent_income",
    "cb_person_cred_hist_length"
]

categorical_features = ["person_home_ownership"]

Studying Python

In [36]:
class employee:
    def __init__(self,a,b):
        #self.name = input('Enter your name')
        self.a = a
        self.b = b
    
    def sum(self):
        total = self.a + self.b
        print(total)

In [37]:
test = employee(2,3)
test.sum()

5

In [38]:
def remove_duplicates(lst):
    return list(dict.fromkeys(lst))

In [40]:
a= 'Sama works at Tiget Analytics as a Data Scientist'

In [42]:
remove_duplicates(a)

['S',
 'a',
 'm',
 ' ',
 'w',
 'o',
 'r',
 'k',
 's',
 't',
 'T',
 'i',
 'g',
 'e',
 'A',
 'n',
 'l',
 'y',
 'c',
 'D']

In [ ]:
from collections import Counter

In [45]:
Counter(a)

Counter({'a': 8,
         ' ': 8,
         't': 6,
         's': 4,
         'i': 4,
         'S': 2,
         'e': 2,
         'n': 2,
         'c': 2,
         'm': 1,
         'w': 1,
         'o': 1,
         'r': 1,
         'k': 1,
         'T': 1,
         'g': 1,
         'A': 1,
         'l': 1,
         'y': 1,
         'D': 1})

In [88]:
def reverse(s):
    return " ".join(s.split()[::-5])

In [89]:
reverse(a)

'Scientist Tiget'

In [60]:
b = 'hhh hiuhi'
reverse(b)

'hhh hiuhi'